/**
*   Cascade Style Sheet for login form
*   @author: Anton Zekeriev Rodin
*   @version: 1.0
*/
body {background: #b6b6b6;font-family: 'Lucida Grande', 'Verdana', 'Geneva', 'Sans-serif';font-size: 12px;}
a, p, div, td, tr, table, ul, li, ol, h1, h2, h3, h4, h5, h6 {margin:0;padding:0;}

.error {}
    .error p { margin:5px 0;padding:8px; padding-left:50px; background: #f0f0f0 url("../img/warning32.png") top left no-repeat;font-weight:bold;border:4px solid #f0f0f0;-moz-border-radius:10px;-webkit-border-radius:10px; }
    
#center-login {width:400px;margin:200px auto;}
    #center-login h1 {margin:0;margin-bottom:10px;padding:3px;color:#666;text-shadow: 0 2px 0 white;}

#login-form {padding: 20px 0;background: #f0f0f0;border:5px solid #f0f0f0;-moz-border-radius: 10px;-webkit-border-radius: 10px;}
            
            #login-form p {margin:3px;padding:3px;}
            #login-form label, input {margin:3px;font-weight: bold;}
            #login-form label {padding:10px;float:left;width:120px;text-align:right;}
            #login-form input {padding: 5px; width: 200px; border: 5px solid white; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

            #login-form button {margin-left:200px;padding: 6px;width:100px;border: none;
                                -moz-border-radius: 4px;-webkit-border-radius: 4px; background: #348075; color:white;
                                box-shadow: 0 1px 0 white; -moz-box-shadow: 0 1px 0 white; -webkit-box-shadow: 0 1px 0 white;}

            #login-form button:hover {background: #287368;cursor: pointer;}