* { margin: 0px; padding: 0px; border: none; }
body { font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 16px; letter-spacing: 1px; word-spacing: 5px; }

header, footer, article, sidebar, section, nav { display: block; }

.clear { clear: both; }
.main-width { width: 1000px; margin: 0px auto; }
.float-right { float: right; }
.float-left { float: left; }
.float-image-right { margin: 10px 0 4px 10px; float: right; }
.float-image-left { margin: 4px 10px 4px 0; float: left; }
.border-2 { border-radius: 2px; }
.border-5 { border-radius: 5px; }
.no-bullet { list-style: none; }
a { color: #2e631c; text-decoration: none; }

/* Header styles */
/*********************************/

.stage {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 354px;
            overflow: hidden;
            z-index: 100;
        }
        .far-clouds {
            background: transparent url("../img/template/far-clouds-2.png") 305px 51px repeat-x;
        }
        .near-clouds {
            background: transparent url("../img/template/near-clouds-2.png") 305px 81px repeat-x;
        }

#header { width: 100%; height: 354px; overflow: hidden; background-color: red; background: #aedfe5 url("../img/template/sky.png") 0 0 repeat-x;}

#header-inside { position: relative; z-index: 101; width: 1000px; height: 354px; overflow: hidden; }
    #header-inside .header-top { width: 1000px; height: 276px; background: url("../img/template/header-top.png") bottom left no-repeat; }
    #header-inside .header-middle { width: 1000px; height: 64px; background: url("../img/template/header-middle.png") no-repeat; }
    #header-inside .header-bottom { width: 1000px; height: 14px; }
    
#main-menu { margin: 2px; margin-left: 70px; float: left; width: 500px; height: 61px; }
    #main-menu li { margin-right: 5px; list-style: none; float: left; width: 120px; height: 61px; }
    #main-menu li strong { display: block; padding: 20px; text-align: center; }
    #main-menu a { color: #fff; text-decoration: none; text-shadow: 1px 1px 1px #000; }
    #main-menu a:hover { color: #f47920; }
    
/* Content Styles */
/*********************************/
#content { width: 700px; }
    #content h1, #content h2, #content  h3,#content h4,#content h5 { padding: 5px 10px; color: #666; }
    #content p { padding: 5px 10px; color: #666; }
    #content .title { margin-top: 30px; text-align: center; font-size: 28px; color: #666; }
    #content h2 { font-size: 24px; }
    
    #content .image-canvas { padding: 0px; border: 2px solid #666; border-radius: 5px; }
    #content .image-canvas img { width: 250px; float: left; display: block; border: none; }
    
    #map-koordinatu { width: 650px; height: 450px; margin: 10px auto; overflow: hidden; background-color: #ccc; border: 5px solid #2e631c; }

/* Certificados */
.cer-image-canvas { position: relative; margin-left: 10px; margin-top: 10px; width: 280px; height: 280px; overflow: hidden;}
    .cer-image-canvas img { margin: 10px; width: 260px; }
    .cer-image-text { font-size: 12px; text-align: center; position: absolute; background-color: #000; color: #fff; bottom: 0; left: 0; right: 0; border: 2px solid #300;}
    
/* Certificados */
.fot-image-canvas {  background-color: #000; position: relative; margin-left: 10px; margin-top: 10px; width: 280px; height: 200px; overflow: hidden; }
    .fot-image-canvas img { margin: 10px; width: 260px; }
    .fot-image-text { font-size: 12px; text-align: center; position: absolute; background-color: #000; color: #fff; bottom: 0px; left: 0px; right: 0px; border: 2px solid #000;}
    
/* Catalogue Styles */    
    #product-list { width: 100%; }
        #product-list .image-product-canvas {position: relative; padding: 7px 10px; background: #fff; border: 1px solid #aaa; overflow: hidden;}
        #product-list .image-product-canvas img { width: 300px; }
        #product-list .text-product-canvas { padding: 5px 15px; border: 1px solid #aaa; }
        #product-list .text-product-canvas h2 { margin-top: 0; }
        #product-list .text-product-canvas p { margin-top: 0; text-align: left; font-size: 12px; }
        #product-list .price-canvas { position: absolute; top: 5px; right: 5px; width: 100px; height: 40px; background-color: #b20; border-radius: 5px; color: #fff; font-size: 14px;}
        #product-list .price-canvas span {  display: block; padding: 12px; font-weight: bold; text-align: center; }
        
    #hires-canvas { margin: 10px auto; padding: 5px 10px; width: 680px; background: #fff; border: 1px solid #666; text-align: center; }
    #hires-canvas img { width: 660px; }
    
    #product-details span { margin: 0; margin-right: 10px; padding: 0; width: 250px;
                                float: left; text-align: right; font-weight: bold;
        }
        #product-details ul { margin: 0; padding: 0; }
        #product-details li, #contact-details li { margin: 2px auto; padding: 10px; list-style: none;  background-color: #ddd;
                              border: 1px solid #666; color: #333;  width: 678px;
        }
    
/* Sidebar Styles */
/*********************************/
#sidebar { width: 282px; }
    #sidebar .widget { width: 282px;  margin: 10px 0px; padding: 0px; font-size: 12px; overflow: hidden; }
    #sidebar .widget h3 { font-size: 16px; }    
    #sidebar .post-it { width: 282px; height: 271px; background: #fff url('../img/template/post-it.png') top left no-repeat;  margin: 10px 0px; padding: 0px; font-size: 12px; overflow: hidden; }
    #sidebar .post-it h3 { margin: 30px 40px 10px 40px; color: #b20; font-weight: bold;}
    #sidebar .post-it p { margin: 10px 40px; color: #b20;}
    #sidebar .post-it ul { margin: 10px 60px; }
    #sidebar .rotate-post-it { -webkit-transform:rotate(-3deg); }
    
#aside-menu {}
            #aside-menu { margin: 0px; padding: 0px; }
            #aside-menu li { margin: 0px; padding: 0px; margin-bottom: 10px; float: left; width: 280px; }
            #aside-menu li a { display: block; text-align: center;  padding: 5px; font-size: 14px; font-weight: bold; color: #fff; text-decoration: none; background-color: #2e631c; border: 3px solid #f47920; border-radius: 5px; }
            #aside-menu li a:hover { color: #fff; text-shadow: 1px 1px 1px #000; background-color: #f47920; border: 3px solid #2e631c; }

#bg-video { width: 282px; min-height: 300px; background: #fff url('../img/template/video.jpg') top left no-repeat; overlow: hidden; }
    #bg-video-inside { margin-top: 35px; width: 282px; background-color: #2e631c; overflow: hidden; }
    #bg-video-inside-canvas { padding: 10px; }
    
    .contact-info { idth: 282px; margin: 10px 0px; margin-top: 100px; padding: 0px; font-size: 12px; overflow: hidden; }
        .contact-info dl { }
        .contact-info dt { font-size: 18px; }
            
            
/* Footer Styles */
/*********************************/
#footer-top { width: 1000px; height: 133px; background: url("../img/template/footer-top.png") no-repeat; }
    #footer { width: 100%; height: 260px; background: #2e631c url("../img/template/footer-bottom.png") 0 0 repeat-x; }
    #footer-inside { width: 1000px; height: 260px; }
    
    #footer-content { width: 700px; height: 180px; margin: 0px auto; padding: 40px; }
    #footer-content p { text-align: center; color: #fff; font-size: 10px; }
    #footer-content a { color: #fff; text-decoration: underline; }
   